
@font-face {
    font-family: 'LA';
    src: url('../Fonts/Vazir-Light.ttf');
}


body {
    background-color: rgb(0, 40, 121) !important;
    color: white !important;
    font-family:LA;
}

a {
    transition: all .2s ease-in-out;
}

input:focus {
    outline:none;
}
.box-area {
    width: 915px;
    border-radius: 12px;
}

.right-box {
    padding: 40px 30px 40px 40px;
    ﻿ @font-face

{
    font-family: '1';
    src: url(~/Fonts/Roboto-Medium.ttf);
}

* {
    font-family: 1;
}

body {
    background: rgb(248, 236, 248);
}

.box-area {
    width: 915px;
    border-radius: 12px;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.left-box {
    border-radius: 12px;
}

::placeholder {
    font-size: 16px;
}

@media only screen and (max-width:768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 0px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}
}

.left-box {
    border-radius: 12px;
}

::placeholder {
    font-size: 16px;
}

@media only screen and (max-width:768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 0px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}