@font-face {
    font-family: "shabnam";
    src: url("../Fonts/Shabnam-Medium-FD-WOL.ttf")
}
@font-face {
    font-family: "shabnamBold";
    src: url("../Fonts//Shabnam-Bold-FD-WOL.ttf")
}


body {
    background-color: whitesmoke;
    margin: auto;
    font-family: shabnamBold !important;
}


.sidebar {
    position: fixed;
    background-color: #1a294e;
    border-radius: 5px 0 0 5px;
    min-height: 100svh;
    max-height: 100svh;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    direction: rtl;
    width: 25%;
    text-align: center;
    padding:20px;
}

    .sidebar a {
        color: white !important;
        margin-top: 3px;
        display: inline-block;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }

        .sidebar a span {
            color: #00d6ff;
            margin-left: 3px;
        }

/*        .sidebar a:hover {
            cursor: pointer;
            color: #08ea9e !important;
            padding-right:10px;
        }*/


thead tr, tbody tr {
    text-align: center;
}

.form-group label {
    float: right;
    margin-top: 20px;
}

.form-group input, .form-group select {
    text-align: right;
}


