
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_PanelLayout.cshtml";
}

<a class="btn btn-warning m-2" href="~/"><span class="fa fa-arrow-left"></span>برگشت به سایت</a>

