<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <link href="~/Lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Panelstyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>

    <div style="width:30%" class="sidebar">
        <h3 class="text-center text-white rounded mb-4">پنل مدیریت سایت</h3><hr class="text-white" />
        <div class="row">
            <a class="btn btn-primary" asp-controller="Panel" asp-action="Index"><span class="fa fa-home fa-lg"></span><br />صفحه هوم</a>
            <a class="btn btn-primary" href="#"><span class="fa fa-users fa-lg"></span><br />کاربران</a>
            <a class="btn btn-primary" asp-controller="Groups" asp-action="Index"><span class="fa fa-list fa-lg"></span><br />دسته بندی</a>
            <a class="btn btn-primary" asp-controller="Products" asp-action="Index"><span class="fa fa-book fa-lg"></span><br />کتاب ها</a>
            <a class="btn btn-primary" asp-controller="Authors" asp-action="Index"><span class="fa fa-pencil fa-lg"></span><br />نویسندگان</a>
            <a class="btn btn-primary" asp-controller="Publishers" asp-action="Index"><span class="fa fa-handshake-o fa-lg"></span><br />ناشر ها</a>
            <a class="btn btn-primary" asp-controller="Orders" asp-action="Index"><span class="fa fa-shopping-bag fa-lg"></span><br />سفارشات</a>
            <a class="btn btn-danger " href="~/account/logout"><span class="fa fa-sign-out fa-lg"></span>خروج</a>
        </div>

    </div>

    <div class="col-md-8 col-6">
        @RenderBody()
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/minscript.js"></script>
</html>



