@model RubikBook.Core.ViewModels.ShoppingViewModel

<div>
    <h4 class="text-danger">آیا به سبد خرید اضافه میکنید؟</h4>
    <form asp-controller="Profile" asp-action="AddtoShoppingcart">
        <input asp-for="ProductId" hidden />
        <input asp-for="UserId" hidden />
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-controller="Home" asp-action="index" class="btn btn-outline-danger">No</a>
    </form>
</div>
