@model RubikBook.Core.ViewModels.AllViewModel
@{
    ViewData["Title"] = "AllAuthors";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="col-12 text-center">
        <partial name="AuthorsPartial.cshtml" model="Model.Authors" />
    </div>
</div>

