
<div class="container-org">

    <div class="row">
        <div class="col">
            <img class="banner1" src="~/Image/site/baner1.jpg" alt="">
        </div>
        <div class="col">
            <img class="banner2" src="~/Image/site/baner2.jpg" alt="">
        </div>
    </div>

</div>
<br>
<br>