@model RubikBook.Core.ViewModels.AllViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<video autoplay muted loop class="hero">
    <source src="~/Image/Site/LibraryVideo.mp4"/>
</video>



@*Products Slider Partial*@
<div class="container mt-5 text-center">
    <h3 class="text-center"><span class="text-success"> فروش</span> ویژه</h3>
    <hr class="hr-2">
    <div class="row row-cols-1 row-cols-md-4">
        <div class="owl-carousel">
            <partial name="ProductsSliderPartial" model="@Model.ProductsSellOff" />
        </div>
    </div>
</div>




<div class="container">
    <h4 class="add-title text-center">لیست جدید کتاب ها</h4>
    <hr class="hr-2">
</div>
@*Products Partial*@
<partial name="ProductsPartial.cshtml" model="@Model.Products" />
<div class="container mt-md-3">
    <a asp-controller="Home" asp-action="AllProducts" class="btn-product btn-success"><span class="icon-arrow-left"></span>  مشاهده تمامی کتاب ها</a>
</div>





@*Banner*@
<partial name="BannerPartial.cshtml" />

@*Footer*@
<partial name="FooterPartial.cshtml" />










