@model RubikBook.Core.ViewModels.AllViewModel
@{
    ViewData["Title"] = "productsByGroup";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@if (ViewBag.situation == false)
{
    <h4 class="text-center text-danger container mt-4">هنوز محصولی برای این دسته بندی ثبت نشده است</h4>
}

<partial name="ProductsPartial.cshtml" model="ViewBag.productsByGroup" />

