@model IEnumerable<RubikBook.Database.Models.Product>


<!--book slider-->
@foreach (var item in Model)
{
    <div class="item">
        <div class="col mb-4">
            <div class="book-item ">
                @if (item.SellOff>0)
                {
                    <div class="ribbon ribbon-top-left"><span>تخفیف %@item.SellOff</span></div>
                }
                <img src="~/Image/Product/@item.Img" class="card-img-top">
                <div class="card-body">
                    <h5 style="font-size:14px;" class="card-title">@item.ProductName</h5>
                    <p class="card-text">$ @item.Price.ToString("n0") </p>
                    <a href="#" class="btn btn-success icon-shopping_cart text-white"></a>
                    <a asp-controller="home" asp-action="ProductInfo" asp-route-id="@item.Id" class="btn2 btn btn-outline-success">اطلاعات بیشتر</a>
                </div>
            </div>
        </div>

    </div>
}

