
@{
    ViewData["Title"] = "OnlinePayment";
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div style="direction:rtl;" class="container">
    <h1>نتیجه پرداخت</h1>
    <div class="alert alert-success">
        <h2>با تشکر از خرید شما</h2>
        <p> @*@ViewBag.success:*@کد پیگیری شما</p>
    </div>
</div>


