<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link href="~/Lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/Panelstyle.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:30%;" class="sidebar text-center">
        
        <h3 class="text-center text-white rounded mb-4">پنل کاربری </h3><hr class="text-white" />
        <div class="row">
            <a class="btn btn-primary mt-2" asp-controller="home" asp-action="Index"><span class="fa fa-home fa-lg"></span><br />هوم</a>
            <a class="btn btn-primary mt-2" asp-controller="profile" asp-action="ShoppingCart"><span class="fa fa-shopping-bag fa-lg"></span><br />سفارشات</a>
            <a class="btn btn-primary mt-2" asp-controller="profile" asp-action="UserAdddress"><span class="fa fa-address-book fa-lg"></span><br />آدرس</a>
            <a class="btn btn-primary mt-2"><span class="fa fa-gears fa-lg"></span><br />تنظیمات</a>
            <a class="btn btn-primary mt-2"><span class="fa fa-headphones fa-lg"></span><br />پشتیبانی</a>
            <a class="btn btn-danger mt-3 " href="~/account/logout"><span class="fa fa-sign-out fa-lg"></span>خروج</a>
        </div>

    </div>







    <div class="col-lg-8 col-8">
        @RenderBody()
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/minscript.js"></script>
</html>
